{% extends "padre.html"%}

{% load static %}

{% block contenidoQueCambia %}

<br>

<h1>Lista de Departamentos </h1>

<br>
{% if departamentos %}
<ul>

        {% for departamento in departamentos %}
        <li>
            <a href ="{% url 'DetalleDepartamento' departamento.id %}">
           Departamento: {{departamento.piso_Y_Letra}} - En edificio : {{departamento.en_Edificio.nombre}} 
            </a>
        </li>
        {% if user.is_staff %}
        <div>
            <button>
                <a href="{% url 'ModificarDepartamento' departamento.id %}"> Modificar </a>
            </button>
            <button>
                <a href="{% url 'BorrarDepartamento' departamento.id %}"> Eliminar </a>
            </button>
        </div>
        {% endif %}

        <br>

        {% endfor %}

</ul>
{% else %}
<p> No hay departamentos <p>
{% endif %}
{% if user.is_staff %}

<button><a href="{% url 'CrearDepartamento'%}"> Añadir un departamento </a></button>

{% endif %}

<br>
<br>

{% endblock %}