{% extends "padre.html"%}

{% load static %}

{% block contenidoQueCambia %}

<br>

<h1>Lista de Edificios </h1>

<br>
{% if edificios %}
<ul>

        {% for edificio in edificios %}
        <li>
            <a href ="{% url 'DetalleEdificio' edificio.id %}">
           {{edificio.nombre}}
            </a>
        </li>
        {% if user.is_staff %}
        <div>
            <button>
                <a href="{% url 'ModificarEdificio' edificio.id %}"> Modificar </a>
            </button>
            <button>
                <a href="{% url 'BorrarEdificio' edificio.id %}"> Eliminar </a>
            </button>
        </div>
        {% endif %}
        <br>

        {% endfor %}

</ul>
{% else %}
<p> No hay edificios <p>
{% endif %}
{% if user.is_staff %}
<button><a href="{% url 'CrearEdificio'%}"> Añadir un edificio </a></button>
{% endif %}

<br>
<br>

{% endblock %}