{% extends "padre.html"%}

{% load static %}

{% block contenidoQueCambia %}

<br>

<h1>Lista de Edificios </h1>

<br>

<ul>

        {% for edificio in edificios %}
        <li>
            <a href ="{% url 'DetalleEdificio' edificio.id %}">
           {{edificio.nombre}}
            </a>
        </li>
        <div>
            <button>
                <a href="{% url 'ModificarEdificio' edificio.id %}"> Modificar </a>
            </button>
            <button>
                <a href="{% url 'BorrarEdificio' edificio.id %}"> Eliminar </a>
            </button>
        </div>

        <br>

        {% endfor %}

</ul>

<button><a href="{% url 'CrearEdificio'%}"> Añadir un edificio </a></button>

<br>
<br>

{% endblock %}