{% extends "padre.html"%}

{% load static %}

{% block contenidoQueCambia %}

<br>

<h1 style="text-align: center;">Bienvenido al inicio</h1>

<br>

<h3 style="text-align: center;">{{mensaje}}</h3>

<div style="text-align: center;">
    Tu avatar:
    <img src="{{url}}" alt="avatar" width="200" height="200">
</div>

<p style="text-align: center;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit tenetur autem numquam aspernatur, eaque assumenda praesentium possimus? Alias earum fugiat id! Numquam ratione earum totam sequi ipsum fuga inventore exercitationem?</p>

<br>

{% endblock %}