{% extends "padre.html"%}

{% load static %}

{% block contenidoQueCambia %}

<br>

<h1>Sobre nosotros</h1>

<h3>Tiago Lo Bretto</h3>

<p>Soy Tiago, tengo 22 años, soy de CABA y estoy estudiando Ingenieria en Sistemas en la UTN. Me anoté en el curso de Python porque quería aprender un lenguaje de programación nuevo y me comentaron que Python es facil de aprender y tiene muchas aplicaciones, tanto desarrollo web como data science</p>

<h3>Stefano Castro Gasch</h3>

<p>Mi nombre es Stefano, tengo 29 años y trabajo en la Caja de Abogados de cordoba. Empecé este curso por que siempre tuve curiosidad por la programación y para ver si podía trabajar de esto.</p>

<h3>Tatiana Rios</h3>

<p>Hola, mi nombre es Tatiana, y empecé a estudiar Python en Coder por curiosidad y para conocer el mundo de la programación</p>

<a href="{% url 'Inicio' %}">Volver al inicio</a>

<br>

{% endblock %}